@import 'variables.scss';

.nav {
  //background-color: #147fd8;
  background-image: linear-gradient(90deg, #147fd8, #37a2f9);
  a {
    color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      background-color: #7573ac;
      color: whitesmoke;
    }
  }
}

.site-title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.8rem;
}
