@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

$Handjet-font: 'Handjet', cursive;

$bg: rgb(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: #5069ff;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$x1: 75em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
